.navbar{
    background: #10ac84;
    box-shadow: 2px 2px 5px #000;
}

.navbar .nav-item .nav-link{
    color: #fff;
}

.main-header{
    background: url(../img/sneakers_bg.jpg) fixed no-repeat;
    background-size: cover;
}

.background-overlay{
    background: rgba(87, 101, 116,0.6);
}

.news{
    background: #10ac84;
}

.form-control, .btn{
    border-radius: 0%;
}

.team, footer{
    background: #30336b;
}



/*-------------------------RESPONSIVE------------------------ */
@media screen and (max-width:576px) {
   

}
@media screen and (max-width:768px) {
    .row-header{
        height: 350px;
    }
}
@media screen and (max-width:992px) and (min-width:768px) {
    .row-header{
        height: 450px;
    }
}
@media screen and (max-width:1200px) and (min-width:992px) {
    .row-header{
        height: 500px;
    }
}
@media screen and (min-width:1200px) {
    .row-header{
        height: 600px;
    }
}
