.navbar{
    background: #10ac84;
    box-shadow: 2px 2px 5px #000;
}

.navbar .nav-item .nav-link{
    color: #fff; 
}

#questions{
    background: url(../images/sneakers_bg.jpg) fixed no-repeat;
    background-size: cover;
}

#questions .overlay{
    background: rgba(87, 101, 116,0.7);
}

header{
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

header .container{
    position: relative;
    z-index: 2;
}

.overlay-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.overlay-carousel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}

#marcas{
    background: #f1f1f1;
}

.card-style-1{
    background: #01a3a4;
}

.card-style-2{
    background: #222f3e;
}

.card-style-2 hr{
    background: #ccc;
}

.news, #about, #team, footer{
    background: #10ac84;
}

.header-accordion{
    background: rgba(87, 101, 116,1);
}

i{
    color: #01a3a4;
}

.form-control, .btn{
    border-radius: 0%;
}



/*-------------------------RESPONSIVE------------------------ */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url(../images/sneakers_mobile.jpg) black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}


@media screen and (max-width:576px) {
   

}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:992px) and (min-width:768px) {
    
}
@media screen and (max-width:1200px) and (min-width:992px) {
    
}
@media screen and (min-width:1200px) {
    
}
